<footer class="post-footer clearfix">
    <p class="follow-me">
	{{ i18n "more" }} {{ i18n "follow-me-on" }} <a href="http://twitter.com/bzg2">Twitter</a> {{ i18n "or" }} <a href="https://mastodon.etalab.gouv.fr/web/accounts/685">Mastodon</a> !
    </p>

    {{ if .Params.tags }}
    <p class="post-tags">
        <span>Tags :</span>
        {{ $len := len .Params.tags }}
        {{ range $index, $tag := .Params.tags }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
        {{- if lt $index (sub $len 1) -}}, {{ end }}
        {{ end }}
    </p>
    {{ end}}

    <div class="share">
        {{ if or (not (isset .Site.Params "sharetwitter")) .Site.Params.shareTwitter }}
        <a class="icon-twitter" href="https://twitter.com/share?text={{ .Title }}&url={{ .Permalink }}"
           onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            <i class="fa fa-twitter"></i>
            <span class="hidden">Twitter</span>
        </a>
        {{ end }}
    </div>
</footer>
